$theme-colors: (
    "primary": #EF1B2B,
    "secondary": #000,
    "info": #D1D2D5,
);

// colors
$body-color: #F7F7F8;
$white-color: #ffffff;
$primary-color: #EF1B2B;
$secondary-color: #000;

$light-gray-color: #F7F7F8;
$darker-gray-color: #F0F0F1;
$gray-color: #747780;
